{% extends 'base.html' %}



{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
        </div>
    </div>
</header>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div "class="col-xs-1 "center-block" >
            <h3 align="justify-content" class="text-center" class="h1">
                PlantOasis is an online store that is expert in
                providing various collection of indoor, and outdoor plants
                and besides that beautiful set of accessories 
                with affordable prices for those who like to decorate their living 
                spaces, gardens, and offices with plants to have a clean air and a glimpse of the beauty of nature. 
            </h3>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}